.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: aquamarine;
}

/* flipcards */
.flip {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 16px;
}

.flip_card {
    display: inline-block;
    background-color: transparent;
    width: 300px;
    height: 500px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    border-radius: 12px;
}

.flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip_card:hover .flip_card_inner {
  transform: rotateY(180deg);
}

.flip_card_front, .flip_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip_card_front {
  background-color: #bbb;
  color: black;
}


.flip_card_back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  width: 300px;
  height: 500px;
}