*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  margin: 0 auto;
  background-color:var(--blue);
  max-width: 75em;
}

:root {
  --light: #fefbd8;
  --grey: #618685;
  --navy: #36486b;
  --blue: #4040a1;
  --navy-shadow: rgba(20, 47, 87, 0.7);
}

.App {
  text-align: center;
  padding: 18px;
  border-radius: 12px;
}



body {
  padding: 0 3em;
  background-color: var(--navy);
  
}

.title {
  font-family: Papyrus, Arial, sans-serif;
  font-size: 2.5rem;
  letter-spacing: 8px;
  color: var(--light);
  line-height: 1.5;
  margin-bottom: 0;
  padding: 26px;
  font-size: 3.5em;
}

section {
  padding: 8px, 8px;
  background-color: var(--navy);
  border-radius: 12px;
}

.rules{ 
background-color: var(--grey);
font-weight: bold;
color: black;
font-size: 1.2rem;
border-radius: 10px;
margin-bottom: 8px;
padding: 8px;
}

.hello_user{
background-color: var(--light);
font-size: 1.1em;
border-radius: 10px;
padding: 8px;
font-weight: bold;
}

.submit_btn {
  display: inline-block;
  margin-left: 8px;
  background-color: var(--light);
  border: 2px solid var(--blue);
  color: var(--navy);
  padding: 4px 6px;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;
}
.submit_btn:hover {
  transform: scale(1.1);
  background: var(--blue);
  color: var(--light);
}

.rules_btn {
  display: inline-block;
  padding: 4px 6px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
  background-color: var(--blue);
  color: var(--light);
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid var(--navy);
  box-shadow: 10px 10px 10px var(--navy-shadow);
}

/* flipcards */
.flip {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 16px;
  border-radius: 12px;
}

.flip_card {
    display: inline-block;
    background-color: transparent;
    width: 300px;
    height: 500px;
    border: 1px solid var(--grey);
    perspective: 1000px;
    border-radius: 12px;
}

.card {
  background-color: var(--grey);
  border-radius: 12px;
}

.flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 12px;
}


.flip_card:hover .flip_card_inner {
  transform: rotateY(180deg);
  border-radius: 12px;
}

.flip_card_front, .flip_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  border-radius: 12px;
}

.flip_card_back {
  background-color: var(--grey);
  color: black;
  font-weight: bolder;
  transform: rotateY(180deg);
  border-radius: 12px;
}


.flip_card_front {
  background-color: var(--blue);
  width: 300px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 12px;
}

.rating {
  background-color: var(--light);
  color: black;
  text-align: center;
  padding: 24px;
  border-radius: 45px;
  font-size: larger;
  font-weight: bolder;
}
/* next */
.next {
  display: inline-block;
  background-color: var(--light);
  border: 2px solid var(--blue);
  color: var(--navy);
  padding: 6px 8px;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;
}
.next:hover {
  transform: scale(1.1);
  background: var(--grey);
  color: var(--light);
  border: 2px solid var(--light);
}